In [3]:
x <- TRUE    # <-  alt + -
y <- FALSE   # R에서 실행은 alt + enter

class(x); class(y);
             # %>% 파이프 연산자 ctrl + shift +m

[1] "logical"

[1] "logical"

In [7]:
# 1~20의 숫자 값으로 5행 4열을 생성#

matrix(1:20,5,4)
x

     [,1] [,2] [,3] [,4]
[1,] 1     6   11   16
[2,] 2     7   12   17
[3,] 3     8   13   18
[4,] 4     9   14   19
[5,] 5    10   15   20

[1] TRUE

In [9]:
#행렬은 왼쪽부터 위에서 아래로 열을 채우지만 byrow는 행을 먼저 채우게함.

matrix(1:20,5,4, byrow = TRUE)

     [,1] [,2] [,3] [,4]
[1,]  1    2    3    4
[2,]  5    6    7    8
[3,]  9   10   11   12
[4,] 13   14   15   16
[5,] 17   18   19   20

In [ ]:
## 배열 array , 행렬과 비슷하나 차원 속성을 가진 데이터 구조##

In [4]:
## 행과 열을 각각 네 개씩 갖는 데이터 프레임 ###
#데이터 프레임을 칠 일은 없다, 빅데이터를 데이터 프레임으로 분석하는데 주로 쓰임.

df <- data.frame(name = c("kim","lee","choi","park"),age = c(32,25,18,39),height = c(170,175,168,180),weight = c(63,66,59,70))
df

  name age height weight
1 kim  32  170    63
2 lee  25  175    66
3 choi 18  168    59
4 park 39  180    70

In [5]:
class(df)

[1] "data.frame"

In [10]:
df[1,]

  name age height weight
1 kim  32  170    63

In [11]:
df[c(1,3),]

  name age height weight
1 kim  32  170    63
3 choi 18  168    59

In [12]:
df[,2]

[1] 32 25 18 39

In [18]:
# 열 하나만 세로 그대로 출력 drop = FALSE

df[,3,drop = FALSE]

  height
1 170
2 175
3 168
4 180

In [19]:
df[2,2]

[1] 25

In [27]:
#열에다가 이름 붙혀주기

rownames(df) <-c("one","two","three","four")
df

      name age height weight
one   kim  32  170    63
two   lee  25  175    66
three choi 18  168    59
four  park 39  180    70

In [26]:
df[c("one","two"),c("name","age")]

    name age
one kim  32
two lee  25

In [25]:
# 더 직관적인 표현

df$"height"

[1] 170 175 168 180

In [30]:
#데이터 프레임 만들기


df <- data.frame(이름 = c("민준","유리","재희"),나이 = c(22,20,21),성별 = c("남","여","남"),전공 = c("수학","영문","경영"))
df

  이름 나이 성별 전공
1 민준 22   남   수학
2 유리 20   여   영문
3 재희 21   남   경영

In [38]:
# 열 별로 전부 각각 데이터 추출하기 ($ 사용)
df$"이름"
df$"나이"
df$"성별"
df$"전공"

[1] 민준 유리 재희
Levels: 민준 유리 재희

[1] 22 20 21

[1] 남 여 남
Levels: 남 여

[1] 수학 영문 경영
Levels: 경영 수학 영문

In [42]:
# 행 별로 전부 각각 데이터 추출하기

df[1,]
df[2,]
df[3,]

  이름 나이 성별 전공
1 민준 22   남   수학

  이름 나이 성별 전공
2 유리 20   여   영문

  이름 나이 성별 전공
3 재희 21   남   경영

In [44]:
# 유리와 재희의 정보만 추출하기

df[c(2,3),]

  이름 나이 성별 전공
2 유리 20   여   영문
3 재희 21   남   경영

In [53]:
# 나이와 성별의 정보만 추출하기 ($ 사용)

df$"나이"
df$"성별"

[1] 22 20 21

[1] 남 여 남
Levels: 남 여